
.logo {
    width: 100%;
}
.jumbotron {
    background: #000;
    padding: 50px 0;
}
.display {
    color: rgb(245, 245, 245);;
    text-align: center;
    font-size: 50px;
    font-family: 'Lora', serif;
    

}
.lead {
    color: rgb(245, 245, 245);
    text-align: center;
    font-family: 'Tangerine', cursive;
}
  
.jumbotron{
background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
margin-bottom: 0%;

}
.tab{
/*background-image: url(https://cdn.pixabay.com/photo/2016/11/10/19/20/banner-1814989__340.jpg);*/   
border-bottom: solid;
/*border-style: solid;*/
border-width: 3px;
background-repeat: no-repeat;
background-size: cover;
background-position: bottom; 

}
.nav-link{
font-family: 'Lora', serif;
color: #000;
font-size: 20px;
font-weight: 900;
}

.card-deck{
    font-family: 'Lora', serif;
    background-color: rgb(196, 224, 233);
   

}
.card {
    width: 100%;
  height: auto;
  background-color: #a4cfe3fa;
  

}.container {
    text-align: center;
    padding: 25px;
    color: white;
    font-family: 'Crimson Pro', serif;
}