.logo {

    width: 100%;
}
.jumbotron {
    background: #000;
    padding: 50px 0;
}
.display {
    color: rgb(245, 245, 245);;
    text-align: center;
    font-size: 50px;
    font-family: 'Domine', serif;
    

}
.lead {
    color: rgb(245, 245, 245);
    text-align: center;
    font-family: 'Tangerine', cursive;
}
  
.jumbotron{
background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
margin-bottom: 0%;
overflow-x: hidden;
overflow-y: scroll;
}
.tab{
/*background-image: url(https://cdn.pixabay.com/photo/2016/11/10/19/20/banner-1814989__340.jpg);*/   
border-bottom: solid;
/*border-style: solid;*/
border-width: 3px;
background-repeat: no-repeat;
background-size: cover;
background-position: bottom; 

}
.nav-link{
font-family: 'Domine', serif;
color: #000;
font-size: 20px;
font-weight: 900;
}

.card-deck{
    font-family: 'Domine', serif;
    background-color: rgb(196, 224, 233);
   

}
.card {
    width: 100%;
  height: auto;
  background-color: #a4cfe3fa;
  

}.container {
    text-align: center;
    padding: 25px;
    color: white;
    font-family: 'Domine', serif;
}
.footer {
    text-align: center;
}
.restaurants{
    color: black;
    font-family: 'Libre Caslon Text', serif;
    font-size: 30px;
}
footer{
    background: url(https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/277157/600/400/m2/fpnw/wm1/pattern-with-travel-symbols-on-blue-.jpg?1418934330&s=70d12cf9e99b6b557e0e787eefa4423d);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    border-top: 5px double whitesmoke;
  }

  
  #openweathermap-widget-13{
    position: absolute;
    top:0;
    right: 0;
  }
  
.team{
  font-family: 'Acme', sans-serif;
color: #000;
font-size: 20px;
  

}
#template-current-year{
  color: #000;
}

.main-footer__copyright-link{
  color: black;
}