.logo {
    width: 100%;
}
.jumbotron {
    background: #000;
    padding: 50px 0;
}
.display {
    color: #fff;
    text-align: center;
    font-size: 50px;
}
.lead {
    color: #aaa;
    text-align: center;
    font-family: cursive;
}
.slide-images {
    height: 600px;
    overflow: hidden;
}
.slide-images img {
    width: 100%;
}
.bottom-wrap {
    padding: 50px 0;
    font   
}

.testimonials {
	min-height: 300px;
}
.testimonials h3 {
	margin: 20px auto;
	color: #eee;
	text-transform: uppercase;
}
.testimonials img,
.testimonials .profile {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	margin: 0px 20px 0 0;
	background: #333;
	border-radius: 60px;
}

	
.testimonials p {
	font-size: 9px;
	font-weight: 100;
	color: #abbacc;
}
.testimonials p.role {
	font-size: 8px;
	font-style: italic;
}
	

.testimonial {
	display: none;
}

.testimonial-wrap {
	position: relative;
	padding: 10px 20px;
	margin: 0 auto 30px;
	background: #596676;
	border-radius: 4px;

	
}

.testimonial-wrap:after {
	display: block;
	content: " ";
	position: absolute;
	left: 30px;
	bottom: -20px;
	height: 0;
	width: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 10px;
	border-top: 20px solid #596676;
	border-right: 20px solid transparent;
}